{% extends "searchwork/base.html" %}
{% block base %}
<div  class="p-2 "></div>
  <div class="container">
    <div class="d-flex justify-content-between">
      {% if user.is_authenticated %}
        <form>
            <a class="btn btn-outline-info" href="{% url 'worker' %}">Задания</a>
        </form>
<div>
            <div class="input-group">
                <a class="btn btn-outline-info" href="{% url 'client' %}">Я покупатель</a>
                <a class="btn btn-info" href="{% url 'worker' %}">Я исполнитель</a>
      	    </div>
		</div>
      {% endif %}
    </div>
  </div>
<div  class="p-2 shadow-sm"></div>
<div  class="p-2 "></div>
<main class="container">

{% block content %}{% endblock %}
{% endblock base %}
</main>