{% extends "searchwork/base.html" %}
{% block base %}
<div  class="p-2 "></div>
  <div class="container">
    <div class="d-flex justify-content-between">
      {% if user.is_authenticated %}
        <div>
        <a class="btn btn-outline-info" href="{% url 'task-create' %}">Новое задание</a>
        <a class="btn btn-outline-info" href="{% url 'my-tasks' user.username %}">Мои задания</a>
        </div>
<div>
            <div class="input-group">
                <a class="btn btn-info" href="{% url 'my-tasks' user.username %}">Я покупатель</a>
                <a class="btn btn-outline-info" href="{% url 'tasks-home' %}">Я исполнитель</a>
      	    </div>
		</div>

      {% endif %}
    </div>
</div>
<div  class="p-2 shadow-sm"></div>
<div  class="p-2 "></div>
<main class="container">
{% if messages %}
        	{% for message in messages %}
          	<div class="alert alert-{{ message.tags }}">
            	{{ message }}
          	</div>
        	{% endfor %}
{% endif %}
{% block content %}{% endblock %}
{% endblock base %}
</main>
