{% extends "searchwork/base_client.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="card mb-4 rounded-3 shadow-sm">
  <article class="container">
    <img class="rounded-circle article-img" src="{{ task.author.profile.image.url }}" width="100" height="100" alt="аватар заказчика">
    <div class="media-body">
      <div class="article-metadata">
        <a class="mr-2" href="{% url 'client-profile' task.author.client.id %}">Заказчик: {{ task.author.username }}</a>
        <a class="mr-2" href="{% url 'user-tasks-client' task.author.username %}">Все задачи заказчика {{ object.author }}</a>
        <small class="text-muted">{{ task.date_posted|date:"F d, Y" }}</small>

      </div>
      <h2 class="article-title">{{ task.title }}</h2>
      <p class="article-content">{{ task.content }}</p>
      <h4 class="article-title">{{ task.budget }} руб.</h4>
      <small class="text-danger">Статус задания: {{ task.status }}</small><br>
      <small class="text-success">Исполнитель: {{ task.worker }}</small><br>
      <p class="input-group-text">Тип: {{ task.type }}</p>
      <p class="input-group-text">Категория: {{ task.category }}</p>

    </div>
  </article>
      </div>
<h2>Комментарии</h2>
<form method="post">
    {% csrf_token %}
    {{ form|crispy }}
    <br/>
    <button class="btn btn-info" type="submit">Добавить комментарий</button>
</form>
<br/>
<ul>
    {% for comment in comments %}
    <div class="col">
                        <div class="card mb-4 rounded-3 shadow-sm">
                          <div class="card-header py-3">
                              <a class="card-title pricing-card-title" href="#"><h6>{{ comment.author }}</h6></a>

                                  <img class="rounded-circle article-img" src="{{ comment.author.profile.image.url }}" width="100" height="100" alt="аватар заказчика">

                          </div>
                          <div class="card-body">

                            <ul class="list-unstyled mt-3 mb-4">

                                <li><a class="mr-2" href="#">Комментарий: {{ comment.text }}</a></li>

                            </ul>

                          </div>
                        </div>
                      </div>
    {% endfor %}
</ul>
{% endblock content %}