{% extends "searchwork/base_worker.html" %}
{% load crispy_forms_tags %}
{% block content %}

            <a class="btn btn-outline-info" href="{% url 'my-offers' user.username %}">Мои отклики</a>
            <h1>Фильтры</h1>
<h3>Категории</h3>
<a class="btn btn-outline-info" href="{% url 'filter' %}">Земля</a>
<a class="btn btn-outline-info" href="#">Канашка</a>
<a class="btn btn-outline-info" href="#">Вода</a>
<a class="btn btn-outline-info" href="#">Электрика</a>
<h3>Типы</h3>
<a class="btn btn-outline-info" href="#">Исполнительная документация</a>
<a class="btn btn-outline-info" href="#">Проектная/рабочая документация</a>
<a class="btn btn-outline-info" href="#">ПОС</a>
<a class="btn btn-outline-info" href="#">ППР/ППРК</a>
<a class="btn btn-outline-info" href="#">Геодезия</a>


    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Форма фильтров</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Применить фильтр</button>
            </div>
        </form>
    </div>

    <div class="pagination justify-content-center">
        {% if is_paginated %}

          {% if page_obj.has_previous %}

            <a class="btn btn-outline-info mb-4 mr-1" href="?page=1">Первая</a>
            <a class="btn btn-outline-info mb-4 mr-1" href="?page={{ page_obj.previous_page_number }}">Предыдущая</a>
          {% endif %}

          {% for num in page_obj.paginator.page_range %}
            {% if page_obj.number == num %}
              <a class="btn btn-info mb-4 mr-1" href="?page={{ num }}">{{ num }}</a>
            {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
              <a class="btn btn-outline-info mb-4 mr-1" href="?page={{ num }}">{{ num }}</a>
            {% endif %}
          {% endfor %}

          {% if page_obj.has_next %}
            <a class="btn btn-outline-info mb-4 mr-1" href="?page={{ page_obj.next_page_number }}">Следующая</a>
            <a class="btn btn-outline-info mb-4 mr-1" href="?page={{ page_obj.paginator.num_pages }}">Последняя</a>
          {% endif %}

        {% endif %}
    </div>
{% endblock content %}