{% extends "searchwork/base_worker.html" %}
{% block content %}

<ol class="breadcrumb p-3 bg-body-tertiary rounded-3">
      <li class="breadcrumb-item">
        <a class="link-body-emphasis fw-semibold text-decoration-none" href="{% url 'searchwork-about' %}">Главная страница</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">
        Все задачи
      </li>
    </ol>

        {% if tasks %}
<div class="d-flex justify-content-between">
            <a class="btn btn-outline-info" href="{% url 'my-offers' user.username %}">Мои отклики</a>
<div>
            <a class="btn btn-outline-info" href="{% url 'filter-home' %}">Фильтровать и упорядочить</a>

</div>
</div>
<br/>
            <h1>Биржа проектов</h1>
            <h6>Задания, созданные вами не показаны в данном списке</h6>

            <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
                {% for task in tasks %}
                    {% if task.author != user %}
                      <div class="col">
                        <div class="card mb-4 rounded-3 shadow-sm">
                          <div class="card-header py-3">
                              <a class="card-title pricing-card-title" href="{% url 'task-detail' task.id %}"><h6>Задание: {{ task.title }}</h6></a>
                          </div>
                          <div class="card-body">

                            <ul class="list-unstyled mt-3 mb-4">
                              <li>
                                  <img class="rounded-circle article-img" src="{{ task.author.profile.image.url }}" width="100" height="100" alt="аватар заказчика">
                              </li>
                                <li><a class="mr-2" href="{% url 'client-profile' task.author.client.id %}">Заказчик: {{ task.author.client }}</a></li>
                                <li><a class="mr-2" href="{% url 'user-tasks' task.author.username %}">Все задачи заказчика: {{ task.author }}</a></li>
                              <li><small class="text-muted">{{ task.date_posted|date:"F d, Y" }}</small></li>

                                <li><h3>{{ task.budget }} руб.</h3></li>
                              <li>Статус: {{ task.status }}</li>
                                <p class="input-group-text">Тип: {{ task.type }}</p>
                                <p class="input-group-text">Категория: {{ task.category }}</p>
                            </ul>

                          </div>
                        </div>
                      </div>
                    {% endif %}
                {% endfor %}
            </div>
        {% else %}
            <h1>В системе пока не зарегистрировано ни одного задания.</h1>
            <a class="btn btn-outline-info" href="{% url 'client' %}">Стать заказчиком</a>

        {% endif %}


    <div class="pagination justify-content-center">
        {% if is_paginated %}

          {% if page_obj.has_previous %}

            <a class="btn btn-outline-info mb-4 mr-1" href="?page=1">Первая</a>
            <a class="btn btn-outline-info mb-4 mr-1" href="?page={{ page_obj.previous_page_number }}">Предыдущая</a>
          {% endif %}

          {% for num in page_obj.paginator.page_range %}
            {% if page_obj.number == num %}
              <a class="btn btn-info mb-4 mr-1" href="?page={{ num }}">{{ num }}</a>
            {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
              <a class="btn btn-outline-info mb-4 mr-1" href="?page={{ num }}">{{ num }}</a>
            {% endif %}
          {% endfor %}

          {% if page_obj.has_next %}
            <a class="btn btn-outline-info mb-4 mr-1" href="?page={{ page_obj.next_page_number }}">Следующая</a>
            <a class="btn btn-outline-info mb-4 mr-1" href="?page={{ page_obj.paginator.num_pages }}">Последняя</a>
          {% endif %}

        {% endif %}
    </div>
{% endblock content %}