{% extends "searchwork/base.html" %}
{% block base %}
<div  class="p-2 "></div>
<div class="container">
    <div class="d-flex justify-content-between">
      {% if user.is_authenticated %}
        <div>
            <div class="input-group">
                <a class="btn btn-info" href="{% url 'client' %}">Я покупатель</a>
                <a class="btn btn-outline-info" href="{% url 'worker' %}">Я исполнитель</a>
      	    </div>
		</div>


      {% endif %}
    </div>
  </div>
<div  class="p-2 shadow-sm"></div>
<div  class="p-2 "></div>
<div class="container">
    <h1>Инструкция</h1>
    <h2>Я покупатель. Размещение заданий.</h2>
    <p>
        Для размещения заданий Вам необходимо зарегистрироваться в качестве Заказчика.
        Для этого Вы можете нажать на кнопку Я покупатель на переключателе Я покупатель - Я исполнитель.
        Вам будет предложено зарегистрировать себя как Покупателя.
        Нажмите на кнопку Стать заказчиком.
        Далее вы можете написать о себе то, что считаете нужным и полезным для сведения исполнителям.
        Подтвердите нажатием на кнопку Стать заказчиком.
        Далее вы можете создавать задания.
        Нажмите на кнопку Создать новое задание.
        Откроется форма создания задания.
        Заполните Название и Содержание задания. Выберете статус - Поиск исполнителя.
        Выберете бюджет задания. Выберете Тип и Категорию задания.
        Нажмите кнопку Сохранить.
        Готово. Ваше задание размещено на бирже. Исполнители могут его видеть и откликаться на него.
        Также они могут написать вам в чате вопросы по заданию.
        Вы можете редактировать своё задание или удалить.
        Можете посмотреть отклики на своё задание и выбрать исполнителя, а также продолжить общение с ним в чате.
    </p>
    <h2>Я исполнитель. Отклик и выполнение заданий.</h2>
    <p>
        Для отклика на задание вам необходимо зарегистрироваться в качестве Исполнителя.
        Для этого Вы можете нажать на кнопку Я исполнитель на переключателе Я покупатель - Я исполнитель.
        Вам будет предложено зарегистрировать себя как Исполнителя.
        Нажмите на кнопку Стать Исполнителем.
        Далее вы можете описать свой опыт и портфолио.
        Подтвердите нажатием на кнопку Стать Исполнителем.
        Готово. Вам представлена биржа заданий. Выбирайте задание, откликайтесь на него.
        Вам будет предложено написать сопроводительное письмо к отклику, которое сможет прочесть заказчик.
        Если ваш отклик его заинтересует, то вы можете продолжить общение в чате.
    </p>
</div>
{% endblock base %}