{% extends "searchwork/base.html" %}
{% block base %}
<div  class="p-2 "></div>
<div class="container">



    <div class="d-flex justify-content-between">
      {% if user.is_authenticated %}
        <div>
            <div class="input-group">
                <a class="btn btn-outline-info" href="{% url 'client' %}">Я покупатель</a>
                <a class="btn btn-outline-info" href="{% url 'worker' %}">Я исполнитель</a>
      	    </div>
		</div>


      {% endif %}
    </div>
  </div>
<div  class="p-2 shadow-sm"></div>
<div class="container">

    <ol class="breadcrumb p-3 bg-body-tertiary rounded-3">
      <li class="breadcrumb-item">
        <a class="link-body-emphasis fw-semibold text-decoration-none" href="{% url 'searchwork-about' %}">Главная страница</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">
        Новости
      </li>
    </ol>

    <h1>Новости сайта</h1>
    <h3>Версия: 1.0.3 Dmitriy on 03.09.2024 at 21:31</h3>
    <p>Доработка: Добавлен просмотр всех заказчиков. Добавлен профиль заказчика. Добавлена возможность написать заказчику из задачи. Добавлен чат. Добавлена кнопка Мои чаты</p>
    <br/>
    <h3>Версия: 1.0.1 Dmitriy on 31.08.2024 at 17:31</h3>
    <p>Доработка: Добавлен для закачиков просмотр всех исполнителей и всех заданий. Добавлены комментарии к исполнителям. Добавлены комментарии к задачам. Исправлен баг отсутствия кнопки Сбросить фильтры при не найденных объектах. Исправлен баг что не сохраняются условия фильтров для дальнейшего поиска.</p>
    <br/>
    <h3>Версия: e161c57c Dmitriy on 27.08.2024 at 8:40</h3>
    <p>Доработка: Фильтрование задач по типам, категориям, бюджету, статусу. Упорядочивание задач по дате и по бюджету.</p>
    <br/>
    <h3>Версия: 4bf72f4 Dmitriy on 14.08.2024 at 09:38</h3>
    <p>Доработка: Бюджет задания.</p>
    <br/>
    <h3>Версия: 1f0a2a49 Dmitriy on 13.08.2024 at 11:42</h3>
    <p>Доработка сообщение к отклику. Можно откликнуться на задачу с сообщением, а при просмотре откликов заказчик будет видеть это сообщение</p>
    <br/>
</div>
{% endblock base %}