{% extends "searchwork/base.html" %}
{% load crispy_forms_tags %}
{% block base %}
<div  class="p-2 "></div>
  <div class="container">
    <div class="d-flex justify-content-between">
      {% if user.is_authenticated %}
        <form>
            <a class="btn btn-outline-info" href="{% url 'client' %}">Мои задания</a>

            <a class="btn btn-outline-info" href="{% url 'workers' %}">Исполнители</a>

            <a class="btn btn-outline-info" href="{% url 'tasks-home-client' %}">Все задания</a>
        </form>
        <div>
            <div class="input-group">
                <a class="btn btn-info" href="{% url 'client' %}">Я покупатель</a>
                <a class="btn btn-outline-info" href="{% url 'worker' %}">Я исполнитель</a>
      	    </div>
		</div>
      {% endif %}
    </div>
</div>
<div  class="p-2 shadow-sm"></div>
<div  class="p-2 "></div>
<main class="container">

<h1>Поиск</h1>
    <form method="get" action="{% url 'search' %}">
        {{ form|crispy }}
        <button class="btn btn-outline-info" type="submit">Поиск</button>
    </form>
{% if tasks or user_workers or user_clients %}
    <h2>Результаты поиска:</h2>
    {% if tasks  %}

        <h3>Задачи</h3>
        <ul>
            {% for task in tasks %}
                <li><a href="{% url 'task-detail' task.pk %}">{{ task.title }}</a></li>
            {% empty %}
                <li>Нет результатов</li>
            {% endfor %}
        </ul>
    {% else %}
    <h3>Задачи</h3>
        <p>Нет результатов.</p>
    {% endif %}
     {% if user_workers %}
        <h3>Исполнители</h3>
        <ul>
            {% for user_worker in user_workers %}
                <li><a href="{% url 'worker-profile' user_worker.worker.id %}">{{ user_worker.username }}</a></li>
            {% empty %}
                <li>Нет результатов</li>
            {% endfor %}
        </ul>
    {% else %}
    <h3>Исполнители</h3>
        <p>Нет результатов.</p>
    {% endif %}
     {% if user_clients %}
    <h3>Заказчики</h3>
        <ul>
            {% for user_client in user_clients %}
                <li><a href="{% url 'client-profile' user_client.client.id %}">{{ user_client.username }}</a></li>
            {% empty %}
                <li>Нет результатов</li>
            {% endfor %}
        </ul>
    {% else %}
    <h3>Заказчики</h3>
        <p>Нет результатов.</p>
    {% endif %}
{% else %}
        <p>Нет результатов.</p>
    {% endif %}
</main>
{% endblock base %}