{% extends "searchwork/base_client.html" %}
{% load crispy_forms_tags %}
{% block content %}

<ol class="breadcrumb p-3 bg-body-tertiary rounded-3">
      <li class="breadcrumb-item">
        <a class="link-body-emphasis fw-semibold text-decoration-none" href="{% url 'searchwork-about' %}">Главная страница</a>
      </li>
    <li class="breadcrumb-item">
        <a class="link-body-emphasis fw-semibold text-decoration-none" href="{% url 'client' %}">Мои задачи</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">
        Создать новое задание
      </li>
    </ol>

    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Новое задание</legend>
                {{ form|crispy }}
            </fieldset>
            <br/>
            <div class="form-group">
                <button class="btn btn-info" type="submit">Сохранить</button>
            </div>
        </form>
    </div>
{% endblock content %}