{% extends "searchwork/base_worker.html" %}
{% block content %}
<div class="card mb-4 rounded-3 shadow-sm">
  <article class="container">
    <img class="rounded-circle article-img" src="{{ object.author.profile.image.url }}">
    <div class="media-body">
      <div class="article-metadata">
        <a class="mr-2" href="{% url 'user-tasks' object.author.username %}">{{ object.author }}</a>
        <small class="text-muted">{{ object.date_posted|date:"F d, Y" }}</small>

          <div>
            <a class="btn btn-info" href="{% url 'candidate-create' object.id %}">Предложить услугу</a>
          </div>
      </div>
      <h2 class="article-title">{{ object.title }}</h2>
      <p class="article-content">{{ object.content }}</p>
      <small class="text-danger">Статус задания: {{ object.status }}</small><br>
      <small class="text-success">Исполнитель: {{ object.worker }}</small><br>


    </div>
  </article>
      </div>
{% endblock content %}