{% extends "searchwork/base_client.html" %}
{% block content %}
{% if request.user.is_authenticated %}
<ol class="breadcrumb p-3 bg-body-tertiary rounded-3">
      <li class="breadcrumb-item">
        <a class="link-body-emphasis fw-semibold text-decoration-none" href="{% url 'searchwork-about' %}">Главная страница</a>
      </li>
    <li class="breadcrumb-item">
        <a class="link-body-emphasis fw-semibold text-decoration-none" href="{% url 'tasks-home-client' %}">Все задания</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">
        Задача {{ object.title }}
      </li>
    </ol>

<div class="card mb-4 rounded-3 shadow-sm">
  <article class="container">
    <img class="rounded-circle article-img" src="{{ object.author.profile.image.url }}" width="100" height="100" alt="аватар заказчика">
    <div class="media-body">
      <div class="article-metadata">
        <a class="mr-2" href="{% url 'client-profile' task.author.client.id %}">Заказчик: {{ task.author.username }}</a>
        <br/>
        <a class="mr-2" href="{% url 'user-tasks-client' object.author.username %}">Все задачи заказчика {{ object.author }}</a>
        <br/>
        <small class="text-muted">{{ object.date_posted|date:"F d, Y" }}</small>

      </div>
      <h2 class="article-title">{{ object.title }}</h2>
      <p class="article-content">{{ object.content }}</p>
      <h4 class="article-title">{{ object.budget }} руб.</h4>
      <small class="text-danger">Статус задания: {{ object.status }}</small><br>
      <small class="text-success">Исполнитель: {{ object.worker }}</small><br>
      <p class="input-group-text">Тип: {{ task.type }}</p>
      <p class="input-group-text">Категория: {{ task.category }}</p>

    </div>
  </article>
      </div>
<a class="mr-2" href="{% url 'comment-form-client' object.id %}"><h2>Развернуть комментарии</h2></a>

{% else %}
<a class="mr-2" href="{% url 'login' %}"><h2>Вы не вошли на сайт</h2></a>
{% endif %}
{% endblock content %}