{% extends "searchwork/base_worker.html" %}
{% block content %}
    <h1 class="mb-3">Задачи пользователя {{ view.kwargs.username }} ({{ page_obj.paginator.count }})</h1>
    {% for task in tasks %}
        <div class="card mb-4 rounded-3 shadow-sm">
            <article class="container">
          <img class="rounded-circle article-img" src="{{ task.author.profile.image.url }}" width="100" height="100" alt="аватар заказчика">
          <div class="media-body">
                <div class="article-metadata">
                  <a class="mr-2" href="{% url 'client-profile' task.author.client.id %}">Заказчик: {{ task.author.username }}</a>
        <a class="mr-2" href="{% url 'user-tasks' task.author.username %}">Все задачи заказчика {{ task.author }}</a>
                  <small class="text-muted">{{ task.date_posted|date:"F d, Y" }}</small>
                </div>
                <h2><a class="article-title" href="{% url 'task-detail' task.id %}">{{ task.title }}</a></h2>
              <p class="input-group-text">Категория: {{ task.category }}</p>
              <p class="input-group-text">Тип: {{ task.type }}</p>
              <h2>{{ task.budget }} руб.</h2>

                <p class="article-content">{{ task.content }}</p>
                <small class="text-danger">Статус задания: {{ task.status }}</small><br>
                <small class="text-success">Исполнитель: {{ task.worker }}</small>
          </div>
            </article>
        </div>
    {% endfor %}
    <div class="pagination justify-content-center"> 
    {% if is_paginated %}

      {% if page_obj.has_previous %}
        <a class="btn btn-outline-info mb-4 mr-1" href="?page=1">Первая</a>
        <a class="btn btn-outline-info mb-4 mr-1" href="?page={{ page_obj.previous_page_number }}">Предыдущая</a>
      {% endif %}

      {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
          <a class="btn btn-info mb-4 mr-1" href="?page={{ num }}">{{ num }}</a>
        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
          <a class="btn btn-outline-info mb-4 mr-1" href="?page={{ num }}">{{ num }}</a>
        {% endif %}
      {% endfor %}

      {% if page_obj.has_next %}
        <a class="btn btn-outline-info mb-4 mr-1" href="?page={{ page_obj.next_page_number }}">Следующая</a>
        <a class="btn btn-outline-info mb-4 mr-1" href="?page={{ page_obj.paginator.num_pages }}">Последняя</a>
      {% endif %}

    {% endif %}
  </div>
{% endblock content %}