{% extends "searchwork/base_client.html" %}
{% load crispy_forms_tags %}
{% block content %}

    <h1>Чат с {{ other_user.username }}</h1>
    <form method="POST">
        {% csrf_token %}
        <textarea name="content" placeholder="Сообщение" required></textarea>
        <br/>
        <button class="btn btn-info" type="submit">Отправить</button>
    </form>
    <div id="chat_messages">
        {% for chat_message in chat_messages %}
            <p><strong>{{ chat_message.sender.username }}</strong>: {{ chat_message.content }}</p>
        {% endfor %}
    </div>

{% endblock content %}