{% extends "searchwork/base_client.html" %}
{% load crispy_forms_tags %}
{% block content %}

    <h1>Чат с {{ other_user.username }}</h1>
    <form method="POST">
        {% csrf_token %}
        {{ form|crispy }}

        <button class="btn btn-info" type="submit">Отправить</button>
    </form>
<br/>
    <div class="card mb-4 rounded-3 shadow-sm" id="chat_messages">
        <div class="card-header py-3">
        {% for chat_message in chat_messages %}
            <p><strong>{{ chat_message.sender.username }}</strong>: {{ chat_message.content }}</p>
        {% endfor %}
        </div>
    </div>

{% endblock content %}