{% extends "searchwork/base_client.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Станьте заказчиком и создавайте задания</legend>
                <p>Опишите свои свои идеи и ожидания</p>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <a class="btn btn-outline-info" href="{% url 'client-create' user.username %}" type="submit" >Стать заказчиком</a>
            </div>
        </form>
    </div>
{% endblock content %}
